@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #dfdfdf;
}

a:hover {
  color: #9dff00 !important;
}

.home {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  max-height: 25%;
}

.swiper {
  background: #000;
  height: 100vh;
  text-align: center;
}

.swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 100%;
  margin: auto;
}

.contact p {
  font-size: 20px;
  color: #000;
}

.contact span {
  font-weight: 600;
  text-decoration: underline;
}

.hours p {
  font-size: 20px;
  color: #000;
}

.hours span {
  font-weight: 600;
  text-decoration: underline;
}
