@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
  --tw-ring-color: none !important;
}

body {
  background: #f1f1f1;
}

a:hover {
  color: #ffec3f !important;
  transition: all 0.5s ease 0s;
}

.home {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  max-height: 25%;
}

.swiper {
  background: #000;
  height: 100vh;
  text-align: center;
}

.swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 100%;
  margin: auto;
}

.contact-page {
  font-family: sans-serif;
  color: #71747a;
}

.contact-page h1 {
  border-bottom: 1px solid rgba(41, 41, 41, 0.61);
  position: relative;
  padding-bottom: 2px;
  margin-bottom: 0.5rem;
  color: #333e48;
}
.contact-page h1::after {
  content: "";
  width: 120px;
  border-bottom: 3px solid red;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.contact-page span {
  border-bottom: 1px solid rgba(41, 41, 41, 0.61);
  color: #333e48;
}

.contact {
  font-family: "open sans", sans-serif;
  color: #333e48;
}

.contact span {
  font-weight: 600;
  min-width: 110px;
  display: inline-block;
}

.hours span {
  min-width: 135px;
  font-weight: 600;
  display: inline-block;
}

.about {
  color: #71747a;
}
